.paragraph{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(70, 70, 70);
    max-width: 1000px;
    gap: 30px;
    justify-content: center;
    margin: auto;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.paragraph:hover{
    cursor: pointer;
    transform: scale(1.04);
}
body{
    background-color: black;
    color: white;
}
.paragraph span{
    font-size: 20px;
    font-family: Yeseva One;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
    line-height: 1.4;
    color: rgb(158, 133, 22);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.paragraph:hover span{
    max-height: fit-content;
    opacity: 1;
    margin-top: 10px;
    transform: scale(1.05);
}
.paragraph h2{
    font-size: 30px;
    font-family: DM Serif Text;
    font-weight: 400;
    color: rgb(228, 192, 33);
}
#knowBetter{
    text-align: center;
    background-color: rgb(53, 53, 53);
    padding: 30px;
}
#knowBetter span{
    font-family: Yeseva One;
    font-weight: 400;
    color: rgb(228, 192, 33);
}
#formContainer{
    font-size: 20px;
}
.inputs{
    width: 250px;
    height: 20px;
    border-radius: 10px;
}
#submitBtn{
    padding: 5px 15px;
    font-size: 19px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: DM Serif Text;
    font-weight: 400;
    background-color: rgb(228, 192, 33);
}
#submitBtn:hover{
    background-color:  rgb(185, 156, 27);
    cursor: pointer;
}
#submitBtn:active{
    background-color:  rgb(134, 113, 17);
}
#homeContainer{
    max-width: 3000px;
}
#homeContainer ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    justify-content:center ;
    padding: 20px;
    gap: 20px;
}
.content{
    width: 600px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgb(116, 116, 116);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.content:hover{
    transform: scale(1.04);
}
.content a{
    text-decoration: none;
    color: black
}
.content h1{
    font-size: 50px;
    font-family: DM Serif Text;
    font-weight: 400;
    color: rgb(228, 192, 33);
}
.content span{
    font-size: 25px;
    font-family: Yeseva One;
    font-weight: 400;
    color: rgb(158, 133, 22);
}
#natureTitle{
    font-size: 50px;
    text-align: center;
    font-family: Yeseva One;
    font-weight: 400;
    color: rgb(255, 216, 40);
}
#natureContainer ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
#goalContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    padding: 30px;
}
#goalContainer span{
    margin-left: auto;
    margin-top: 30px;
    font-size: 20px;
    font-family: Yeseva One;
    font-weight: 400;
    color: rgb(158, 133, 22);
}
#titleHead{
    font-size: 50px;
    font-family: Yeseva One;
    font-weight: 400;
    color: rgb(228, 192, 33);
}
#optionsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
}
.choice{
    font-size: 22px;
    font-family: Yeseva One;
    text-decoration: none;
    color: rgb(228, 192, 33);
    font-weight: 400;
    border-color: black;
}
#header{
    display: flex;
    flex-wrap: wrap;
}
footer{
    font-size: 20px;
    text-align: center;
    font-family: DM Serif Text;
    font-weight: 400;
    color: rgb(190, 161, 28);
}
#requirements{
    font-size: 22px;
    font-family: DM Serif Text;
    text-decoration: none;
    color: rgb(228, 192, 33);
    font-weight: 400;
}
.details{
    color: rgb(158, 133, 22);
}
.labels{
    font-size: 22px;
    font-family: DM Serif Text;
    text-decoration: none;
    color: rgb(228, 192, 33);
    font-weight: 400;
}
form{
    box-shadow: 0 2px 5px white;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.inputs{
    font-family: DM Serif Text;
    padding: 5px 10px;
    border: solid;
    font-weight: 400;
    font-family: Yeseva One;
}